@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Chakra Petch', sans-serif;
    
}
body{
 
    background-color:rgb(61, 48, 60) ;
    box-shadow: 2px 0px 8px 8px  rgba(14, 14, 14, 0.502) ;

}
.container{
    height: 100vh;
    background-image: url(imagens/Fundo.jpg);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.606);
    background-repeat: repeat;
    background-attachment: scroll;
    
    background-size:contain ;

}
header{
    
    margin: 0px;
    width: 100vw;
    
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(10, 10, 9, 0.818) ;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.744);
}
p  {
    color: rgb(243, 241, 236);
    font-size: 1em;
}
h1.nome{
    font-weight: bold;
    font-size: 2em;
    color: blueviolet;
    font-variant:small-caps ;
    text-shadow: 2px 2px 2px black;
    width: 70%;
    margin: auto;
    text-align: center;
}


header > p{
    text-align: center;
    font-size: .9em;
    padding-bottom: 5px;
    
}

.main{
    padding: 40px;
}

h2{
    color: rgb(199, 170, 8);
    padding:5%;
    font-size:  0.9em;
    text-align: center;
    text-decoration: none;
    
}
h2:hover{
    color: rgb(188, 223, 255);
}

div{
    background-image:linear-gradient(to right, transparent,rgb(18, 16, 16),rgb(18, 16, 16),transparent);
    
    border: 1px  solid rgba(19, 19, 19, 0.561);
    height: 40%;
    border-left: 1px;
    border-right: 1px;
    width: 50%;
    margin: auto;
    box-shadow: 2px 0px 5px rgba(245, 245, 220, 0.187);
    
}
div:hover{
    background-image:linear-gradient(to right, transparent,rgb(57, 76, 125),transparent);
    box-shadow: 0px 0px 10px rgb(24, 31, 26);
    width: 65%;
    transition: 1s;
}
a{
    text-decoration: none;
}

