@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Chakra Petch', sans-serif;
    
}
body{
 
    background-color:rgb(61, 48, 60) ;
    box-shadow: 2px 0px 8px 8px  rgba(14, 14, 14, 0.502) ;

}
.container{
    height: 100vh;
    background-image: url(imagens/Fundo.jpg);
    top: 50%;
    left: 50%;
    
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.606);
    background-repeat: repeat;
    background-attachment: scroll;
    
    background-size:contain ;
    overflow: hidden;
}
header{
    
    margin: 0px;
    width: 100vw;
    
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(10, 10, 9, 0.818) ;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.744);
}
p  {
    color: rgb(243, 241, 236);
    font-size: 1em;
}
h1.nome{
    padding-top: 20px;
    font-weight: bold;
    font-size:3em ;
    color: blueviolet;
    font-variant:small-caps ;
    text-shadow: 2px 2px 2px black;
    width: 70%;
    margin: auto;
    text-align: center;
}


header > p{
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 40px;
    
}

.main{
    padding: 40px;
   
}

h2{
    color: aqua;
    padding:5%;
    font-size:  40px;
    text-align: center;
    text-decoration: none;
    
}
h2:hover{
    color: rgb(188, 223, 255);
}

div{
    background-image:linear-gradient(to right, transparent,rgb(18, 16, 16),rgb(18, 16, 16),transparent);
    
    border: 1px  solid rgba(19, 19, 19, 0.561);
    height: 40%;
    border-left: 1px;
    border-right: 1px;
    border-radius: 20px;

    width: 40%;
    margin: auto;
    box-shadow: 2px 0px 5px rgba(245, 245, 220, 0.187);
    
}
div:hover{
    background-image:linear-gradient(to right, transparent,rgb(57, 76, 125),transparent);
    box-shadow: 0px 0px 10px rgb(24, 31, 26);
    width: 43%;
    transition: 1s;
}
a{
    text-decoration: none;
}
@media(max-width:800px){
    div{
        width: 70%;
    }
}
@media (max-width:600px){
    header >h1.nome{
        font-size: 50px;
        padding-top: 20px;
    }
    header >p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    div{
        width: 70%;
        border-radius: 20px;

    }
    h2{
        color:aqua
    }
}
@media (max-width:450px){
    h1.nome{
        font-size: 40px;
        padding-top: 20px;
    }
    header >p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    div{
        width: 70%;
        border-radius: 20px;
    }
    h2{
        color: aqua;
        font-size: 20px;
    }
}
@media (max-width:330px){
    header > h1.nome{
        font-size: 30px;
        padding-top: 20px;
    }
    header >p{
        font-size: 15px;
        padding-bottom: 20px;
    }
    div{
        width: 70%;
        border-radius: 20px;
    }
    h2{
        color: aqua;
        font-size: 20px;
    }

}
@media  (max-width:280px) {
    header{
        background-image: linear-gradient(to bottom, black, black, transparent);

    }

    header > h1.nome{
        font-size: 20px;
        padding-top: 10px;
    }
     header >p{
        font-size: 5px;

        padding: 10px;

        text-shadow: 0px 0px 3px rgba(196, 196, 188, 0.644);
    }

    div{
        width: 70%;
        border-radius: 10px ;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: aqua;
        font-size: 10px;
    }

}


