@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@font-face {
    font-family:'urbano' ;
    src: url('UrbanJungleDEMO.otf') format('opentype');
    font-size:40px;
    font-weight: bold;
}
*{
    margin: 0px;
    padding: 0px;


}
:root{
    ---fonte1:'Mochiy Pop One', sans-serif;
    ---fonte2:Arial, Helvetica, sans-serif;
    ---fonte3:'urbano' Verdana, Geneva, Tahoma, sans-serif  ;

    ---cor1:#000000;
    ---cor2:#3d3c3c;
    ---cor3:#2c2b2b;
    ---cor4:#132123;

}
body{
    background-color:var(---cor1);
    font-family: var(---fonte2) ;
    font-size: 1.2em;
    font-weight: 200;
}
main#conteiner{/* esse é o conteiner que esta dando limtação pro conteudo*/
    
    height: 100%;

    background-color:rgb(4, 2, 2);
    display: block;
    margin: auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.705);
}

header {
  background-color:var(---cor1);
  box-shadow:0px 3px 10px rgba(250, 250, 249, 0.538);
  width: 100%;
  border-bottom: 2px solid rgb(110, 101, 101);
}
nav.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
/*
nav-bar é a class da tag nav, responsavel pelos items do menu não resposivo!

display flex para deixa todas a tags ajustar elas 
e depois justify-content para deixa elas em space-between que vai deixa todos os items espaçados tomando todo o espaço que sobra assim eles nai ficam coloados 
*/

}

 

/*logo é a class na div, resposnsavel pela logo do site !

display flex para alinha

align-item para centralizar a logo
*/

div.logo h1{
    font-family: var(---fonte3);
    color: rgb(223, 220, 220);
    font-weight: bold;
    font-size: 40px;

    border-bottom: 2px groove rgb(171, 37, 37);
    box-sizing: 1px border-box;
   

    /*
    aqui fica a cor o tamanho e tonalidade do txt logo
    */
}
div.logo :hover{
    color: brown;
    border-bottom: 2px groove rgb(252, 248, 248);
    
}
.nav-list{
    display: flex;
    align-items: center;
   

    /*
    aqui é o conteudo do menu  
    e tratamos os itens  centralizando eles e usando o display flex
    */

}
div.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;

}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: rgb(105, 96, 96);
    border-left:  solid  white;
    padding-left: 5px;
}
.nav-link:hover{
    color: rgb(146, 136, 136);
    border-left:  solid  rgb(174, 70, 70);
    text-shadow: 2px 0px 2px rgb(33, 18, 18);
}
/*aqui é as conficurações do botão de login */
.login-button button{
    
    border: none;
    background-color: rgb(89, 88, 88);
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
    top: 0px;
    
}
.login-button button:hover{
    background-color: rgb(245, 119, 119);
    color: black;
    box-shadow: 0px 0px 5px rgba(208, 205, 205, 0.357);
    border-radius: 20px;
    transition: 0.5s;
}
.login-button button a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(72, 25, 25);
}
/*aqui é fica o menu responsivo*/
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
/* aqui é o corpo do header quer nao é espancivo */


/*header contem: 

logo em png-- sobre o free fire
um menu nao responsivo e outro responsivo que so aperecer com o comando de tamanho de tela ou seja ele se adapta para se torna totalmente responssivo */
main{
    padding: 30px;
    
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}
section#garena {
    
    width: 70%;
    height: 100vh;
   display: block;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    /*aqui é a coixa que sentraliza a logo e o texto sobre a garena */
}
.txt-ao-lado{
    display: flex;
    padding: 30px;
    width: 100%;
}


    
    /*aqui fica o texto sobre a garena*/

.txt-1-da-logogarena{
    text-indent: 40px;
    font-style: italic;
    padding: 40px 40px;
    color: rgb(211, 204, 204);
    width: 300px;
    font-size: 20px;
    
}
.txt-2-da-logogarena{
    text-align: center;
    text-indent: 40px;
    font-style: italic;
    font-size: 20px;
    padding: 50px 30px;
    color: rgb(202, 202, 202);
    width: 600px;
    margin:10px auto;
    border-bottom: 2px solid silver;
    /*texto da logo da garena */
}
 #logo-garena{
    
    border: 2px groove rgba(192, 192, 192, 0.623);
    /*aqui fica a logo da garena*/
}


#logo-garena:hover{
    width: 100%;
    border-radius: 30px;
    border: groove 2px red;
    transition:0.5s;
}


#logo-garena{
    width: 100%;

    display: block;
    margin: auto;
    border-radius: 10px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.568);
}
/*aqui finaliza as configurações sobre a garena--  (section)*/

h1.titulo{
    
    color:silver;
    background-color: rgb(17, 17, 17);
    padding:5px 30px;
    margin-bottom: 10px;
    width: 500px;
    font-size: 100%;
    margin: auto;
    text-align: center;
    border-left: 3px solid rgb(97, 70, 70);
    border-right: 3px solid rgb(97, 70, 70);
    border-radius: 10px;
/*aqui fica a configuração de todos os titulos do site*/
}
#criador-freefire{
    display: flex;
    width: 900px;
    
    padding: 20px;
    margin: 40px auto;


   
    
    background-color: var(---cor2);

    /*aqui é a caixa do criador do free fire*/
    
}
div.txt-criador-ff{
    width: 400px;
    background-color: var(--cor3);
    color: rgb(181, 175, 175);
    padding: 20px 40px;
    font-family: var(---fonte3);
    font-size: 20px;
    text-indent: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    /* aqui fica a configuraçao do texto sobre o criador do free fire */
}
img#img-criador-ff{
    width: 50%;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/*aqui fica as configurações da imagem do criador do free fire */

div.mapas{
    width: 90%;
    padding: 20px;
    background-color: var(---cor4);
    padding-bottom: 40px;
    margin: auto;
    
    /*aqui é a configuração da caixa dos mapas  */
}

div.flex-img-txt{
    display: block;
    margin: auto;
    padding-top: 10px;
    
    

    background-color: rgb(0, 0, 0);
/* é a caixa de todos os mapas */
}
div.mapas p{
    padding: 40px;
    color: rgb(255, 255, 255);
    /*texto superior que fala sobre o mapa */
}
img.img-mapas{
    display: block;
    width: 40%;
    height: 80%;
    margin: auto;
    padding: 40px;
    border: 2px groove rgb(104, 84, 84);

/*aqui é as imagens dos mapas */
}


h2{
    color: rgb(57, 55, 55);
    background-color: black;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border-left: 2px solid rgb(139, 116, 116);
    text-align: center;
    text-decoration: underline;
    font-family: var(---fonte3);
    /*o h2 é o subtitulo dos mapas */
}
.tag-dos-mapas{
    margin: 5px auto;
    border: 2px solid rgb(72, 106, 106);
    background-color: rgb(48, 48, 48);
    width: 30px;
    display: none;
}
.tag{
    width: 30px;
    position: relative;
    margin: auto;
}
.coluna1{
    width: 500px;
}
.coluna2{
    width: 500px;
}
.colunas-A,.colunas-A2, .colunas-A3, .colunas-A4{
    display: none;
}
.coluna1-2{
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 600px;
    padding: 20px;
}
div.mapas  ul{
    
   text-align: center;
    
    color: rgba(255, 255, 255, 0.978);
    /*aqui é referente ao texto com o nome das cidades*/
}
div.mapas ul>li{
    padding: 5px;
    align-items: center;
    color: rgb(195, 195, 198);
    font-weight: 500;
    margin: auto;
    width: 200px;
}
div.mapas ul>li:hover{
    color: aqua;
    background-color: black;
    box-shadow: 0px 0px 5px aqua;
    border-radius: 10px;
    transition: 0.5s;
    list-style-type: square;
}
/*aqui trata as cidades de cada mapa*/
div#rank-ff{
    width: 100%;
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    margin: auto;

}
div#caixa-rank{
    width: 80%;

    padding: 40px;

    margin: auto;

    /*referente a caixa aonde esta o rank com o texto e img*/
}
img#img-rank-ff{
    display: block;
    margin: auto;
    width: 80%; 
    background-color:  var(---cor4);
    padding: 30px;
    
    /*aqui é a img do rank */
}
div#caixa-rank h3{
    padding: 30px 10px;

    width: 85%;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-family: var(---fonte3);
    color: rgb(9, 9, 9);
    text-shadow: 0px 0px 10px rgba(67, 65, 65, 0.497);
    background-color: var(---cor4) ;
    /*texto do subtitulo h3*/
}
.caixa-rank-txt ul{
    font-size: 20px;
    padding: 40px 50px;
    
    color: white;
    /*texto falando sobre o rank e os patentes */
}
#caixa-rank li{
    color: white;
}
.caixa-butoes{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    
}
#b1:hover{
    box-shadow: 0px 0px 10px brown;
    border: 2px solid brown;
    color: brown;
    position: relative;
    top: 5px;
    transition: 0.5s;
    
}
#b2:hover{
    box-shadow: 0px 0px 10px rgb(161, 244, 244);
    border: 2px solid rgb(149, 252, 252);
    color: rgb(141, 242, 242);
    position: relative;
    top: 5px;
    transition: 0.5s;
}
#b3:hover{
    box-shadow: 0px 0px 10px darkorange;
    border: 2px solid darkorange;
    color: darkorange;
    position: relative;
    top: 5px;
    transition: 0.5s;
}
#b4:hover{
    box-shadow: 0px 0px 10px rgb(149, 191, 196);
    border: 2px solid rgb(149, 186, 191);
    color: rgb(140, 181, 186);
    position: relative;
    top: 5px;
    transition: 0.5s;
}
#b5:hover{
    box-shadow: 0px 0px 10px rgb(180, 90, 205);
    border: 2px solid rgb(188, 90, 205);
    color: rgb(192, 90, 205);
    position: relative;
    top: 5px;
    transition: 0.5s;
}
#b6:hover{
    box-shadow: 0px 0px 10px red;
    border: 2px solid rgb(202, 37, 37);
    color: rgb(156, 12, 12);
    position: relative;
    top: 5px;
    transition: 0.5s;
}
#b7:hover{
    box-shadow: 0px 0px 10px rgb(140, 140, 30);
    border: 2px solid rgb(150, 150, 12);
    color: rgb(132, 132, 19);
    position: relative;
    top: 5px;
    transition: 0.5s;
}
#b8:hover{
    box-shadow: 0px 0px 10px yellow;
    border: 2px solid yellow;
    color: #ffff00;
    position: relative;
    top: 5px;
    transition: 0.5s;
}
button.butao {
    margin: 2px 5px;
    border-radius: 10px;
    background-color: black;
    color: var(---cor4);
    border:2px solid var(---cor4);
    padding: 10px;
}
div.caixa-butoes-responsiva{
    display: none;
}
.ptt1{
    box-shadow: 0px 0px 10px brown;
}
.ptt2{
    box-shadow: 0px 0px 10px  rgb(141, 242, 242);
}
.ptt3{
    box-shadow:0px 0px 10px darkorange;
}
.ptt4{
    box-shadow: 0px 0px 10px rgb(140, 181, 186) ;
}
.ptt5{
    box-shadow: 0px 0px 10px  rgb(192, 90, 205) ;
}
.ptt6{
    box-shadow: 0px 0px 10px  rgb(156, 12, 12) ;
}
.ptt7{
    box-shadow: 0px 0px 10px  rgb(132, 132, 19) ;
}
.ptt8{
    box-shadow: 0px 0px 10px yellow;
}

/*aqui é a aparte do butao que mostra a imagem do patente*/
samp{
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
/*aqui vai trata a cor da letra samp que fica dentro do button*/
samp#bronze{
    color: rgb(110, 34, 34);
}
samp#prata{
    color: paleturquoise;
}
samp#ouro{
    color: orange;
}
samp#platina{
    color: rgb(105, 153, 207);
}
samp#diamante{
    color: rgb(209, 0, 209);
}
samp#mestre{
    color: rgb(184, 49, 49);
}
samp#elite{
    color: rgb(187, 108, 12);
}
samp#desafiante{
    color: yellow;
}
.patente{
    display: block;
    align-items: center;
    align-content: center;
    padding: 30px;
    width: 500px;
    margin: auto;
    color: white;
}
#rank-patente{
    display: block;
    border-radius: 10px;
    width: 90%;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
}
footer{
    background-color: rgba(0, 0, 0, 0.989);
    
    color: rgb(166, 158, 158);
    text-align: center;
    border-top: 2px  groove silver;
    padding: 20px;

}
@media(max-width:1300px){

    div.mapas ul{
        padding: 40px 20px ;
        font-size: 15px;
    }
}
@media(max-width:1200px){
    /*as confiurações do menu para deixa ele responssivo e aparecendo o conteudo*/

    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
        width: 300px;
        margin: auto;
       
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        position: relative;
        
    }
    .icon{
        background-color: rgb(138, 140, 140);
        width: 40px;
    }
    .mobile-menu-icon button{
        border-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding: 1.2rem;
        box-sizing: border-box;
        
    }
    .nav-item:hover{
         box-shadow: 0px 0px 4px rgba(46, 87, 87, 0.281);
         border-radius: 10px;
        
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 3rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }

    /*aqui começa a deixar o site resposivo */
    section#garena {
        display: block;
        width: 800px;
        
        margin: auto;
        align-items: center;
        align-content: center;
        justify-content: center;
        /*aqui é a coixa que sentraliza a logo e o texto sobre a garena */
    }
    .txt-ao-lado{
        display: block;
        padding: 20px;
        width: 100%;
    }
    .txt-1-da-logogarena{
        width: 500px;
        margin: auto;
        text-align: center;
        padding-top: 40px;
    }
    .txt-2-da-logogarena{
        padding: 0px;
    }
    
    div.div-txt-garena{
        background-color: black;
        
        border-radius: 10px 10px 10px 10px ;
        /*aqui fica o texto sobre a garena*/
    }

    #criador-freefire{
        display: flex;
        
        width:700px;
        padding: 20px;
        margin: 40px auto;
    
       
        
        background-color: white;
    
        /*aqui é a caixa do criador do free fire*/
        
    }
    div.txt-criador-ff{
        width: 300px;
        padding: 20px 40px;
        font-size: 15px;
        text-align: left;
        text-indent: 20px;
        margin: auto;
    
        /* aqui fica a configuraçao do texto sobre o criador do free fire */
    }
    img#img-criador-ff{
        width: 40%;
        padding: 20px;
        border: 2px solid black;
    }
    /*aqui fica as configurações da imagem do criador do free fire */   
    
    
    div.mapas ul{
        left: -10%;
        
    }
}
@media(max-width:1140px){
    section#garena  p{
        font-size: 20px;
    }
    img.img-mapas{
        width: 70%;
        height: 70%;
        padding: 20px;
    
    /*aqui é as imagens dos mapas */
    }

}
@media(max-width:1014px){
    section#garena  p{
        font-size: 20px;
    }
    img.img-mapas{
        width: 60%;
        height: 60%;
        padding: 20px;
    
    /*aqui é as imagens dos mapas */
    }

}
@media(max-width:941px){
    section#garena  p{
        font-size: 20px;
    }
    #criador-freefire{
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }
    div.txt-criador-ff{
        width: 80%;
        
        padding: 20px 10px;
        font-size: 15px;
        
        text-indent: 20px;
    
        /* aqui fica a configuraçao do texto sobre o criador do free fire */
    }
    div.txt-criador-ff p{
        width: 90%;
        padding: 10px;
        
    }
    img#img-criador-ff{
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 2px solid black;
    }
    /*aqui fica as configurações da imagem do criador do free fire */   
    
    img.img-mapas{
        width: 40%;
        height: 40%;
        padding: 10px;
        margin:0 auto;
    
    /*aqui é as imagens dos mapas */
    }
   
        
    
    div.mapas  ul{
        position: relative;
        top: -50%;
        left: -10%;
        
        
        padding: 40px 40px ;
        
    
        
        
    
        
        color: rgba(255, 255, 255, 0.978);
        /*aqui é referente ao texto com o nome das cidades*/
    }
    div.mapas ul li  { 
        font-size: 5px;
    }

}
@media(max-width:878px){
    html,body{
        width: 100vw;
    }
    section#garena{
        width: 100%;
    }
    div.div-txt-garena{
        width: 600px; 
        margin: auto;
    }
    div#div-img-garena{
        width: 600px;
        margin: auto;
    }
    div.txt-ao-lado{
        width: 600px;
        margin: auto;
    }
    .divtxt2{
        width: 600px;
        margin: auto;
    }
    h2{
        font-size: 30px;
    }
   #criador-freefire{
    background-color: silver;
    padding: 10px;
   }
   img#img-criador-ff{
    width: 70%;
   }
   .txt-criador-ff p{
    margin: auto;
   }
   div.flex-img-txt{
    padding: 40px;
   }
   div.tag-dos-mapas{
    display: flex;
    background-color: rgb(12, 12, 12);
    width: 121px;
    height: 15px;
    
    
   }
   div.tag-dos-mapas p{
    width: 100%;
    padding:2px 1px 0px 1px;
    font-size: 11px;
    text-align: center;
    color: rgb(91, 89, 89);
    
   }
   img.tag, img.tag2, img.tag3, img.tag4{
    
    width: 16px;
    background-color: rgb(101, 99, 99);
   }
   div.coluna1-2{
    width: 80%;
    margin: auto;
    
   }
   div.coluna1-2 ul{
    list-style: none;
    margin: auto;
    padding: 0px;
    text-align: center;

   }
   div.coluna1-2 li{
    text-align: center;
   }
   
   .coluna-B{
    display: none;
   }
   .aparecer,.aparecer2, .aparecer3, .aparecer4{
    display: block;
   }

   div.caixa-butoes{
    width: 100%;
   }
   .butao{
    width: 70px;
    font-size: 12px;

   }
   button#b5{
    padding-right: 70px;
   }
   button#b8{
    padding-right: 80px;
   }
}
@media(max-width:700px){
    #conteiner{
        padding:20px 0px;
    }
    nav.nav-bar{
        width: 80%;
        padding: 20px 40px;
        margin: auto;
    }
    nav.nav-bar h1{
        font-size: 30px;
        text-align: center;
    }
    img.icon{
        border-radius: 5px;
    }
    nav.nav-bar button{
        height: 40px;
        background-color: transparent;
    }
  
    div.mobile-menu-icon{
        height: 40px;
    }
    #logo-garena{
        display: block;
        margin: auto;
        width: 100%;
    }
    #logo-garena:hover{
        width: 100%;
    }
    div#div-img-garena{
        width: 70%;
        margin: auto;
    }
    div.txt-ao-lado{
        margin: auto;
        padding: 0px;
    }
    div.div-txt-garena{
        width: 470px;
    }
    p.txt-1-da-logogarena{
        font-size: 10px;
        padding: 20px;
        width: 70%;
    }
    p.txt-2-da-logogarena{
        font-size: 15px;
        width: 70%;
    }
    h1.titulo{
        font-size: 15px;
        width: 70%;
    }
    main{
        padding: 20px;
    }
    div#criador-freefire{
        background-color: #2c2b2b;
        width: 80%;
    }
    div.mapas >p{
        font-size: 15px;
    }
    
    div.txt-criador-ff{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.345);
        border: none;
    }
    div.coluna1-2 li:hover{
        width: 100px;
        font-size: 11px;
    }
    div .caixa-butoes{
        display: none;
    }
    div.caixa-butoes-responsiva{
        display: block;
        margin: auto;
        padding: 5px;
        justify-content: center;
        border-bottom: 2px solid white;
    }
    div.caixa-res1{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    div.caixa-res2{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    div.patente{
        padding: 0px;
    }
    img#rank-patente{
        width: 70%;
    }
    div#rank-ff ul >li{
        font-size: 11px;
    }
    samp{
        font-size: 15px;
    }
}
@media(max-width:600px){
    div.txt-ao-lado{
        width: 100%;
    }
    #logo-garena{
        width: 100%;
        justify-content: center;
    }
    div.div-txt-garena{
        width: 100%;
    }
    .divtxt2{
        width: 100%;
    }
    p.txt-2-da-logogarena{
        margin: auto;
    }
    div.flex-img-txt{
        padding: 20px;
    }
    div.mapas > p{
        padding: 40px 10px ;
        text-indent: 10px;
    }
    div.mapas ul>li{
        width: 90px;
        font-size: 15px;
    }
    div.patente{
        width: 100%;
    }
}
