@charset "UTF8";

*{
    margin: 0px;
    padding: 0px;


}
body{
    background-color:rgba(112, 110, 10, 0.548);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}
main#conteiner{/* esse é o conteiner que esta dando limtação pro conteudo*/
    max-width: 90vw;
    height: 100%;

    background-color:rgb(12, 12, 12);
    display: block;
    margin: auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.705);
}

header {
  background-color: black;
  box-shadow:0px 3px 10px rgba(250, 250, 249, 0.538);
}
nav.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
/*
nav-bar é a class da tag nav, responsavel pelos items do menu não resposivo!

display flex para deixa todas a tags ajustar elas 
e depois justify-content para deixa elas em space-between que vai deixa todos os items espaçados tomando todo o espaço que sobra assim eles nai ficam coloados 
*/

}
div.logo{
    width: 110px;
    display: flex;
    align-items: center;
    align-content: center;

/*logo é a class na div, resposnsavel pela logo do site !

display flex para alinha

align-item para centralizar a logo
*/
}
div.logo img{
    width: 100%;
    padding: 0px;
    margin: 0px;
    

    /*
    aqui fica a cor o tamanho e tonalidade do txt logo
    */
}
.nav-list{
    display: flex;
    align-items: center;

    /*
    aqui é o conteudo do menu  
    e tratamos os itens  centralizando eles e usando o display flex
    */

}
div.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;

}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: white;
}
/*aqui é as conficurações do botão de login */
.login-button button{
    
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
    top: 0px;
    
}
.login-button button a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
/*aqui é fica o menu responsivo*/
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
/* aqui é o corpo do header quer nao é espancivo */


/*header contem: 

logo em png-- sobre o free fire
um menu nao responsivo e outro responsivo que so aperecer com o comando de tamanho de tela ou seja ele se adapta para se torna totalmente responssivo */
main{
    padding: 30px;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}
section#garena {
    display: block;
    width: 80%;
    border: 4px solid rgb(105, 36, 36);
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    /*aqui é a coixa que sentraliza a logo e o texto sobre a garena */
}

div.div-txt-garena{
    background-color: black;
    font-weight: 100px;
    border-radius: 10px 10px 10px 10px ;
    /*aqui fica o texto sobre a garena*/
}
section#garena  p{
    text-indent: 40px;
    font-style: italic;
    padding: 30px;
    color: rgba(180, 170, 170, 0.836);
}
div#div-img-garena #logo-garena{
    width: 100%
    /*aqui fica a logo da garena*/
}
#logo-garena{
    width: 100%;
}


img#logo-garena{
    width: 90%;

    display: block;
    margin: auto;
    border-radius: 10px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.568);
}
/*aqui finaliza as configurações sobre a garena--  (section)*/

h1.titulo{
    
    color: rgba(241, 214, 214, 0.852);
    background-image: linear-gradient(to right, black, transparent);

    padding:5px 10px;
    margin: 50px 0px 40px 0px;
    font-size: 100%;
    
    text-align: left;
    border: 3px solid black;
    border-radius: 10px;
/*aqui fica a configuração de todos os titulos do site*/
}
#criador-freefire{
    display: flex;
    width: 1000px;
    padding: 20px;
    margin: 40px auto;

   
    
    background-color: white;

    /*aqui é a caixa do criador do free fire*/
    
}
div.txt-criador-ff{
    width: 400px;
    padding: 20px 40px;
    
    text-indent: 20px;

    /* aqui fica a configuraçao do texto sobre o criador do free fire */
}
img#img-criador-ff{
    width: 50%;
    padding: 20px;
    border: 2px solid black;
}
/*aqui fica as configurações da imagem do criador do free fire */

div.mapas{
    width: 80%;
    padding: 20px;
    background-color: rgb(8, 8, 8);
    padding-bottom: 40px;
    margin: auto;
    
    /*aqui é a configuração da caixa dos mapas  */
}

div.flex-img-txt{
    display: flex;
    height: 500px;
    margin: auto;
    
    align-content: flex-end;

    background-color: rgb(0, 0, 0);
/* é a caixa de todos os mapas */
}
div.mapas p{
    padding: 40px;
    color: rgb(255, 255, 255);
    /*texto superior que fala sobre o mapa */
}
img.img-mapas{
    width: 100%;
    height: 80%;
    padding: 40px;

/*aqui é as imagens dos mapas */
}
h2{
    color: rgb(194, 102, 102);
    /*o h2 é o subtitulo dos mapas */
}
div.mapas  ul{
    
    position: relative;

    top: 10%;
    left: -5%;
    padding: 40px 10px ;
    font-size: 20px;

    height: 70%;
    width: 100%;

    
    color: rgba(255, 255, 255, 0.978);
    /*aqui é referente ao texto com o nome das cidades*/
}
div.mapas ul>li{
    padding: 5px;
}
/*aqui trata as cidades de cada mapa*/
div#rank-ff{
    width: 100%;
    background-color: black;
    margin: auto;

}
div#caixa-rank{
    width: 80%;

    padding: 40px;

    margin: auto;

    /*referente a caixa aonde esta o rank com o texto e img*/
}
img#img-rank-ff{
    display: block;
    width: 100%; 
    
    /*aqui é a img do rank */
}
div#caixa-rank h3{
    padding: 30px 10px;

    color: darkorange;
    /*texto do subtitulo h3*/
}
div#caixa-rank ul{
    font-size: 20px;
    padding-left: 40px;

    color: white;
    /*texto falando sobre o rank e os patentes */
}
button.butao {
    margin: 2px 5px;
    border-radius: 10px;
    background-color: black;
    color: black;
    border:2px solid white;
    padding: 10px;
}
/*aqui é a aparte do butao que mostra a imagem do patente*/
samp{
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
/*aqui vai trata a cor da letra samp que fica dentro do button*/
samp#bronze{
    color: rgb(110, 34, 34);
}
samp#prata{
    color: paleturquoise;
}
samp#ouro{
    color: orange;
}
samp#platina{
    color: rgb(105, 153, 207);
}
samp#diamante{
    color: rgb(209, 0, 209);
}
samp#mestre{
    color: rgb(184, 49, 49);
}
samp#elite{
    color: rgb(187, 108, 12);
}
samp#desafiante{
    color: yellow;
}
.patente{
    display: block;
    align-items: center;
    align-content: center;
    padding: 30px;
    width: 70%;
    margin: auto;
}
#rank-patente{
    display: block;
    width: 90%;
    border: 2px solid white;
    margin: auto;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;

}
@media(max-width:1300px){
    div.mapas ul{
        padding: 40px 20px ;
        font-size: 15px;
    }
}
@media(max-width:1200px){
    /*as confiurações do menu para deixa ele responssivo e aparecendo o conteudo*/

    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        position: relative;
        
    }
    .mobile-menu-icon button{
        border-color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding: 1.2rem;
        box-sizing: border-box;
        
    }
    .nav-item:hover{
        border: rgba(255, 0, 0, 0.352) solid 1px;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 3rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }

    /*aqui começa a deixar o site resposivo */
    section#garena {
        display: block;
        width: 500px;
        border: 4px solid rgb(105, 36, 36);
        margin: auto;
        align-items: center;
        align-content: center;
        justify-content: center;
        /*aqui é a coixa que sentraliza a logo e o texto sobre a garena */
    }
    
    div.div-txt-garena{
        background-color: black;
    
        border-radius: 10px 10px 10px 10px ;
        /*aqui fica o texto sobre a garena*/
    }

    #criador-freefire{
        display: flex;
        
        width:700px;
        padding: 20px;
        margin: 40px auto;
    
       
        
        background-color: white;
    
        /*aqui é a caixa do criador do free fire*/
        
    }
    div.txt-criador-ff{
        width: 300px;
        padding: 20px 40px;
        font-size: 15px;
        text-align: left;
        text-indent: 20px;
        margin: auto;
    
        /* aqui fica a configuraçao do texto sobre o criador do free fire */
    }
    img#img-criador-ff{
        width: 40%;
        padding: 20px;
        border: 2px solid black;
    }
    /*aqui fica as configurações da imagem do criador do free fire */   
    
    
    div.mapas ul{
        left: -10%;
        
    }
}
@media(max-width:1140px){
    section#garena  p{
        font-size: 20px;
    }
    img.img-mapas{
        width: 70%;
        height: 70%;
        padding: 20px;
    
    /*aqui é as imagens dos mapas */
    }

}
@media(max-width:1014px){
    section#garena  p{
        font-size: 20px;
    }
    img.img-mapas{
        width: 60%;
        height: 60%;
        padding: 20px;
    
    /*aqui é as imagens dos mapas */
    }

}
@media(max-width:941px){
    section#garena  p{
        font-size: 20px;
    }
    #criador-freefire{
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }
    div.txt-criador-ff{
        width: 80%;
        
        padding: 20px 10px;
        font-size: 15px;
        
        text-indent: 20px;
    
        /* aqui fica a configuraçao do texto sobre o criador do free fire */
    }
    div.txt-criador-ff p{
        width: 90%;
        padding: 10px;
        
    }
    img#img-criador-ff{
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 2px solid black;
    }
    /*aqui fica as configurações da imagem do criador do free fire */   
    
    img.img-mapas{
        width: 40%;
        height: 40%;
        padding: 10px;
        margin:0 auto;
    
    /*aqui é as imagens dos mapas */
    }
   
        
    
    div.mapas  ul{
        position: relative;
        top: -50%;
        left: -10%;
        
        
        padding: 40px 40px ;
        
    
        
        
    
        
        color: rgba(255, 255, 255, 0.978);
        /*aqui é referente ao texto com o nome das cidades*/
    }
    div.mapas ul li  { 
        font-size: 5px;
    }

}
@media(max-width:878px){
    section#garena  p{
        font-size: 20px;
    }
    img.img-mapas{
        width: 40%;
        height: 40%;
        padding: 20px;
    
    /*aqui é as imagens dos mapas */
    }
    div.mapas  ul{
    
        position: relative;
    
        top: -0%;
        left: -16.5%;
    
        padding: 20px 10px ;
        font-size: 13px;
    
        height: 50%;
        width: 80%;
    
        
        color: rgba(255, 255, 255, 0.978);
        /*aqui é referente ao texto com o nome das cidades*/
    }
    .mapas ul li{
        font-weight: 100;
        
        
    }

}
@media(max-width:654px){
    html body{
        margin: 0%;
        padding: 0%;
    }
    #conteiner{
        width: 100vw;
        margin: auto;
    }
    nav.nav-bar{
        padding: 30px 20px;
    }
    img.icon{
        width: 30px;
    }
    main{
        padding: 0px;
        margin: auto;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    section#garena {
        display: block;
        width: 80%;
        
        border: 4px solid rgb(105, 36, 36);
        margin:  auto;
        align-items: center;
        align-content: center;
        justify-content: center;
        /*aqui é a coixa que sentraliza a logo e o texto sobre a garena */
    }
    
    div.div-txt-garena{
        background-color: black;
        font-weight: 100px;
        border-radius: 10px 10px 10px 10px ;
        /*aqui fica o texto sobre a garena*/
    }
    section#garena  p{
        text-indent: 40px;
        font-style: italic;
        padding: 30px;
        font-size: 11px;
        color: rgba(180, 170, 170, 0.836);
    }
    div#div-img-garena #logo-garena{
        width: 100%
        /*aqui fica a logo da garena*/
    }
    #logo-garena{
        width: 100%;
    }
    
    
    img#logo-garena{
        width: 90%;
    
        display: block;
        margin: auto;
        border-radius: 10px;
    
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.568);
    }  
    div.mapas{
        width: 100%;
        padding: 20px;
        background-color: rgb(8, 8, 8);
        padding-bottom: 40px;
        margin: auto;
        
        /*aqui é a configuração da caixa dos mapas  */
    }
  
    
    div.flex-img-txt{
        display: flex;
        height: 100%;
        margin: auto;
        
        align-content: flex-end;

        background-color: rgb(0, 0, 0);
    /* é a caixa de todos os mapas */
    }
    div.mapas p{
        padding: 20px;
        color: rgb(255, 255, 255);
        /*texto superior que fala sobre o mapa */
    }
    img.img-mapas{
        width: 40%;
        height: 30%;
        padding: 20px;

    /*aqui é as imagens dos mapas */
    }
    h2{
        color: rgb(194, 102, 102);
        /*o h2 é o subtitulo dos mapas */
    }
    div.mapas  ul{
        
        position: relative;

        top: 0%;
        left: -10%;

        padding: 20px 10px ;
        font-size: 20px;

        height: 50%;
        width: 80%;

        
        color: rgba(255, 255, 255, 0.978);
        /*aqui é referente ao texto com o nome das cidades*/
    }
    div.mapas ul>li{
        padding: 5px;
        font-size: 10px;
    }
    /*aqui trata as cidades de cada mapa*/
    #caixa-rank ul li{
        font-size: 15px;
    }
    #caixa-rank ul{
        padding: 0px 0px;
    }
    samp{
        font-size: 15px;
    }
}
